<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Ewall
@package     Ewall_FilterHelp
@copyright   Copyright (c) http://www.ewalldev.com
@license     http://www.ewalldev.com/license  Proprietary License
 -->
<config>
    <tabs>
        <ewall>
            <label>Ewall Team</label>
            <sort_order>250</sort_order>
        </ewall>
    </tabs>
    <sections>
        <ewall_filters>
            <groups>
                <advanced>
                    <fields>
                        <help_width translate="label comment" module="ewall_filterhelp">
                            <label>Help Hint Popup Width</label>
                            <comment>in pixels</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </help_width>
                    </fields>
                </advanced>
            </groups>
        </ewall_filters>
    </sections>
</config>