<?xml version="1.0" encoding="UTF-8"?>
<!-- 
@category    Ewall
@package     Ewall_FilterShowMore
@copyright   Copyright (c) http://www.ewalldev.com
@license     http://www.ewalldev.com/license  Proprietary License
 -->
<!-- BASED ON SNIPPET: New Module/etc/config.xml -->
<config>
	<modules>
		<Ewall_FilterShowMore>
		    <version>13.05.23.14</version>
		</Ewall_FilterShowMore>
	</modules>
	<global>
		<helpers>
			<ewall_filtershowmore>
				<class>Ewall_FilterShowMore_Helper</class>
			</ewall_filtershowmore>
		</helpers>
		<models>
			<ewall_filtershowmore>
				<class>Ewall_FilterShowMore_Model</class>
				<resourceModel>ewall_filtershowmore_resources</resourceModel>
			</ewall_filtershowmore>
			<ewall_filtershowmore_resources>
				<class>Ewall_FilterShowMore_Resource</class>
				<entities>
				</entities>
			</ewall_filtershowmore_resources>
		</models>
		<events>
			<ewall_filters_process_items>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>limitNumberOfVisibleItems</method> 
					</ewall_filtershowmore>
				</observers>
			</ewall_filters_process_items>
			<ewall_database_is_config_changed>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>isConfigChanged</method>
					</ewall_filtershowmore>
				</observers>
			</ewall_database_is_config_changed>
			<ewall_database_update_columns>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>prepareUpdateColumns</method> 
					</ewall_filtershowmore>
				</observers>
			</ewall_database_update_columns>
			<ewall_database_update_process>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>processUpdate</method> 
					</ewall_filtershowmore>
				</observers>
			</ewall_database_update_process>
			<ewall_database_insert_columns>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>prepareInsertColumns</method>
					</ewall_filtershowmore>
				</observers>
			</ewall_database_insert_columns>
			<ewall_database_insert_process>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>processInsert</method>
					</ewall_filtershowmore>
				</observers>
			</ewall_database_insert_process>
			<m_crud_form>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>addFields</method> 
					</ewall_filtershowmore>
				</observers>
			</m_crud_form>
			<ewall_database_add_edited_data>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class> 
						<method>addEditedData</method>
					</ewall_filtershowmore>
				</observers>
			</ewall_database_add_edited_data>
			<ewall_database_validate>
				<observers>
					<ewall_filtershowmore>
						<class>ewall_filtershowmore/observer</class>
						<method>validate</method> 
					</ewall_filtershowmore>
				</observers>
			</ewall_database_validate>
            <controller_action_predispatch>
                <observers>
                    <ewall_filtershowmore>
                        <class>ewall_filtershowmore/observer</class>
                        <method>ajaxPopup</method>
                    </ewall_filtershowmore>
                </observers>
            </controller_action_predispatch>
		</events>
		<resources>
			<ewall_filtershowmore_setup>
				<setup>
					<module>Ewall_FilterShowMore</module>
					<class>Ewall_FilterShowMore_Resource_Setup</class>
				</setup>
			</ewall_filtershowmore_setup>
		</resources>
        <blocks>
            <ewall_filtershowmore>
                <class>Ewall_FilterShowMore_Block</class>
            </ewall_filtershowmore>
        </blocks>
	</global>
	<frontend>
		<translate>
			<modules>
				<Ewall_FilterShowMore>
					<files>
						<default>Ewall_FilterShowMore.csv</default>
					</files>
				</Ewall_FilterShowMore>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewall_filtershowmore>
					<file>ewall_filtershowmore.xml</file>
				</ewall_filtershowmore>
			</updates>
		</layout>
        <routers>
            <ewall_filtershowmore>
                <use>standard</use>
                <args>
                    <module>Ewall_FilterShowMore</module>
                    <frontName>ewall_filtershowmore</frontName>
                </args>
            </ewall_filtershowmore>
        </routers>

    </frontend>
	<default>
		<ewall_filters>
			<display>
				<show_more_item_count>4</show_more_item_count>
				<show_more_preload>1</show_more_preload>
				<show_more_time>200</show_more_time>
				<show_more_method></show_more_method>
			</display>
			<seo>
				<show_all_suffix>-show-all</show_all_suffix>
			</seo>
			<show_more_popup>
			    <action>click</action>
                <max_rows>20</max_rows>
                <max_columns>4</max_columns>
                <progress>0</progress>
                <debug>0</debug>
			</show_more_popup>
		</ewall_filters>
	</default>
	<ewall_filters>
		<markup>
			<after_items> 
				<show_more>
					<template>ewall/filtershowmore/actions.phtml</template>
					<sort_order>100</sort_order>
				</show_more>
			</after_items>
		</markup>
	</ewall_filters>
</config>
